.widget.widget_apm-image-grid-carousel {
    position: relative;

    & .items {
        & .item {
            opacity: 0;
            height: 235px;
            margin-right: 10px;
            margin-left: 10px;
            background-position: center center;
            background-size: cover;
            transition: opacity 0.25s ease-out;

            & > a {
                display: table;
                width: 100%;
                height: 100%;
                padding: 15% 30px;
                color: #fff;
                text-decoration: none;

                & > strong {
                    display: table-cell;
                    background: #000;
                    background: rgba(0, 0, 0, 0.5);
                    transition: background 0.25s ease-out;
                    text-align: center;
                    vertical-align: middle;
                }

                &:hover {
                    & > strong {
                        background: #000;
                    }
                }
            }
        }

        & .slick-list {
            & .item {
                opacity: 1;
            }
        }

        & .slick-prev,
        & .slick-next {
            position: absolute;
            z-index: 1001;
            top: 140.5px;
            display: block;
            width: 27px;
            height: 47px;
            margin: -23.5px 0 0 0;
            padding: 0;
            opacity: 1;
            border-radius: 0;
            background: #000;
            background: rgba(0, 0, 0, 0.5);
            color: #fff;
            transition: background 0.25s ease-out;
            outline: none;

            &:hover {
                background: #000;
            }

            &:before {
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                height: 100%;
                font-family: "FontAwesome", sans-serif;
                font-size: 18px;
                line-height: 47px;
                color: #fff;
                content: "";
                text-align: center;
            }
        }

        & .slick-prev {
            left: 0;

            &:before {
                content: $fa-var-chevron-left;
                text-indent: -3px;
            }
        }
        & .slick-next {
            right: 0;

            &:before {
                content: $fa-var-chevron-right;
                text-indent: 3px;
            }
        }
    }
}