@font-face {
    font-family: 'Helvetica Neue';
    src:    url('../fonts/helvetica-neue/roman/helveticaneue-roman-webfont.eot?eigb7b');
    src:    url('../fonts/helvetica-neue/roman/helveticaneue-roman-webfont.eot?eigb7b#iefix') format('embedded-opentype'),
            url('../fonts/helvetica-neue/roman/helveticaneue-roman-webfont.ttf?eigb7b') format('truetype'),
            url('../fonts/helvetica-neue/roman/helveticaneue-roman-webfont.woff?eigb7b') format('woff'),
            url('../fonts/helvetica-neue/roman/helveticaneue-roman-webfont.svg?eigb7b#HelveticaNeue') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Neue';
    src:    url('../fonts/helvetica-neue/italic/helveticaneue-italic-webfont.eot?eigb7b');
    src:    url('../fonts/helvetica-neue/italic/helveticaneue-italic-webfont.eot?eigb7b#iefix') format('embedded-opentype'),
            url('../fonts/helvetica-neue/italic/helveticaneue-italic-webfont.ttf?eigb7b') format('truetype'),
            url('../fonts/helvetica-neue/italic/helveticaneue-italic-webfont.woff?eigb7b') format('woff'),
            url('../fonts/helvetica-neue/italic/helveticaneue-italic-webfont.svg?eigb7b#HelveticaNeue') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Helvetica Neue';
    src:    url('../fonts/helvetica-neue/bold/helveticaneue-bold-webfont.eot?eigb7b');
    src:    url('../fonts/helvetica-neue/bold/helveticaneue-bold-webfont.eot?eigb7b#iefix') format('embedded-opentype'),
            url('../fonts/helvetica-neue/bold/helveticaneue-bold-webfont.ttf?eigb7b') format('truetype'),
            url('../fonts/helvetica-neue/bold/helveticaneue-bold-webfont.woff?eigb7b') format('woff'),
            url('../fonts/helvetica-neue/bold/helveticaneue-bold-webfont.svg?eigb7b#HelveticaNeue') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Neue';
    src:    url('../fonts/helvetica-neue/bold-italic/helveticaneue-bolditalic-webfont.eot?eigb7b');
    src:    url('../fonts/helvetica-neue/bold-italic/helveticaneue-bolditalic-webfont.eot?eigb7b#iefix') format('embedded-opentype'),
            url('../fonts/helvetica-neue/bold-italic/helveticaneue-bolditalic-webfont.ttf?eigb7b') format('truetype'),
            url('../fonts/helvetica-neue/bold-italic/helveticaneue-bolditalic-webfont.woff?eigb7b') format('woff'),
            url('../fonts/helvetica-neue/bold-italic/helveticaneue-bolditalic-webfont.svg?eigb7b#HelveticaNeue') format('svg');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Helvetica Neue';
    src:    url('../fonts/helvetica-neue/condensed/helveticaneue-condensed-webfont.eot?eigb7b');
    src:    url('../fonts/helvetica-neue/condensed/helveticaneue-condensed-webfont.eot?eigb7b#iefix') format('embedded-opentype'),
            url('../fonts/helvetica-neue/condensed/helveticaneue-condensed-webfont.ttf?eigb7b') format('truetype'),
            url('../fonts/helvetica-neue/condensed/helveticaneue-condensed-webfont.woff?eigb7b') format('woff'),
            url('../fonts/helvetica-neue/condensed/helveticaneue-condensed-webfont.svg?eigb7b#HelveticaNeue') format('svg');
    font-weight: normal;
    font-style: normal;
    font-stretch: condensed;
}
@font-face {
    font-family: 'Helvetica Neue';
    src:    url('../fonts/helvetica-neue/condensed-bold/helveticaneue-boldcond-webfont.eot?eigb7b');
    src:    url('../fonts/helvetica-neue/condensed-bold/helveticaneue-boldcond-webfont.eot?eigb7b#iefix') format('embedded-opentype'),
            url('../fonts/helvetica-neue/condensed-bold/helveticaneue-boldcond-webfont.ttf?eigb7b') format('truetype'),
            url('../fonts/helvetica-neue/condensed-bold/helveticaneue-boldcond-webfont.woff?eigb7b') format('woff'),
            url('../fonts/helvetica-neue/condensed-bold/helveticaneue-boldcond-webfont.svg?eigb7b#HelveticaNeue') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: condensed;
}
@font-face {
    font-family: 'Helvetica Neue';
    src:    url('../fonts/helvetica-neue/light/helveticaneue-light-webfont.eot?eigb7b');
    src:    url('../fonts/helvetica-neue/light/helveticaneue-light-webfont.eot?eigb7b#iefix') format('embedded-opentype'),
            url('../fonts/helvetica-neue/light/helveticaneue-light-webfont.ttf?eigb7b') format('truetype'),
            url('../fonts/helvetica-neue/light/helveticaneue-light-webfont.woff?eigb7b') format('woff'),
            url('../fonts/helvetica-neue/light/helveticaneue-light-webfont.svg?eigb7b#HelveticaNeue') format('svg');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Neue';
    src:    url('../fonts/helvetica-neue/light-italic/helveticaneue-lightitalic-webfont.eot?eigb7b');
    src:    url('../fonts/helvetica-neue/light-italic/helveticaneue-lightitalic-webfont.eot?eigb7b#iefix') format('embedded-opentype'),
            url('../fonts/helvetica-neue/light-italic/helveticaneue-lightitalic-webfont.ttf?eigb7b') format('truetype'),
            url('../fonts/helvetica-neue/light-italic/helveticaneue-lightitalic-webfont.woff?eigb7b') format('woff'),
            url('../fonts/helvetica-neue/light-italic/helveticaneue-lightitalic-webfont.svg?eigb7b#HelveticaNeue') format('svg');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Helvetica Neue';
    src:    url('../fonts/helvetica-neue/medium/helveticaneue-medium-webfont.eot?eigb7b');
    src:    url('../fonts/helvetica-neue/medium/helveticaneue-medium-webfont.eot?eigb7b#iefix') format('embedded-opentype'),
            url('../fonts/helvetica-neue/medium/helveticaneue-medium-webfont.ttf?eigb7b') format('truetype'),
            url('../fonts/helvetica-neue/medium/helveticaneue-medium-webfont.woff?eigb7b') format('woff'),
            url('../fonts/helvetica-neue/medium/helveticaneue-medium-webfont.svg?eigb7b#HelveticaNeue') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Neue';
    src:    url('../fonts/helvetica-neue/medium-italic/helveticaneue-mediumitalic-webfont.eot?eigb7b');
    src:    url('../fonts/helvetica-neue/medium-italic/helveticaneue-mediumitalic-webfont.eot?eigb7b#iefix') format('embedded-opentype'),
            url('../fonts/helvetica-neue/medium-italic/helveticaneue-mediumitalic-webfont.ttf?eigb7b') format('truetype'),
            url('../fonts/helvetica-neue/medium-italic/helveticaneue-mediumitalic-webfont.woff?eigb7b') format('woff'),
            url('../fonts/helvetica-neue/medium-italic/helveticaneue-mediumitalic-webfont.svg?eigb7b#HelveticaNeue') format('svg');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Helvetica Neue';
    src:    url('../fonts/helvetica-neue/heavy/helveticaneue-heavy-webfont.eot?eigb7b');
    src:    url('../fonts/helvetica-neue/heavy/helveticaneue-heavy-webfont.eot?eigb7b#iefix') format('embedded-opentype'),
            url('../fonts/helvetica-neue/heavy/helveticaneue-heavy-webfont.ttf?eigb7b') format('truetype'),
            url('../fonts/helvetica-neue/heavy/helveticaneue-heavy-webfont.woff?eigb7b') format('woff'),
            url('../fonts/helvetica-neue/heavy/helveticaneue-heavy-webfont.svg?eigb7b#HelveticaNeue') format('svg');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Neue';
    src:    url('../fonts/helvetica-neue/heavy-italic/helveticaneue-heavyitalic-webfont.eot?eigb7b');
    src:    url('../fonts/helvetica-neue/heavy-italic/helveticaneue-heavyitalic-webfont.eot?eigb7b#iefix') format('embedded-opentype'),
            url('../fonts/helvetica-neue/heavy-italic/helveticaneue-heavyitalic-webfont.ttf?eigb7b') format('truetype'),
            url('../fonts/helvetica-neue/heavy-italic/helveticaneue-heavyitalic-webfont.woff?eigb7b') format('woff'),
            url('../fonts/helvetica-neue/heavy-italic/helveticaneue-heavyitalic-webfont.svg?eigb7b#HelveticaNeue') format('svg');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'Helvetica Neue';
    src:    url('../fonts/helvetica-neue/condensed-heavy/helveticaneue-heavycond-webfont.eot?eigb7b');
    src:    url('../fonts/helvetica-neue/condensed-heavy/helveticaneue-heavycond-webfont.eot?eigb7b#iefix') format('embedded-opentype'),
            url('../fonts/helvetica-neue/condensed-heavy/helveticaneue-heavycond-webfont.ttf?eigb7b') format('truetype'),
            url('../fonts/helvetica-neue/condensed-heavy/helveticaneue-heavycond-webfont.woff?eigb7b') format('woff'),
            url('../fonts/helvetica-neue/condensed-heavy/helveticaneue-heavycond-webfont.svg?eigb7b#HelveticaNeue') format('svg');
    font-weight: 800;
    font-style: normal;
    font-stretch: condensed;
}
@font-face {
    font-family: 'Helvetica Neue';
    src:    url('../fonts/helvetica-neue/black/helveticaneue-black-webfont.eot?eigb7b');
    src:    url('../fonts/helvetica-neue/black/helveticaneue-black-webfont.eot?eigb7b#iefix') format('embedded-opentype'),
            url('../fonts/helvetica-neue/black/helveticaneue-black-webfont.ttf?eigb7b') format('truetype'),
            url('../fonts/helvetica-neue/black/helveticaneue-black-webfont.woff?eigb7b') format('woff'),
            url('../fonts/helvetica-neue/black/helveticaneue-black-webfont.svg?eigb7b#HelveticaNeue') format('svg');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Neue';
    src:    url('../fonts/helvetica-neue/black-italic/helveticaneue-blackitalic-webfont.eot?eigb7b');
    src:    url('../fonts/helvetica-neue/black-italic/helveticaneue-blackitalic-webfont.eot?eigb7b#iefix') format('embedded-opentype'),
            url('../fonts/helvetica-neue/black-italic/helveticaneue-blackitalic-webfont.ttf?eigb7b') format('truetype'),
            url('../fonts/helvetica-neue/black-italic/helveticaneue-blackitalic-webfont.woff?eigb7b') format('woff'),
            url('../fonts/helvetica-neue/black-italic/helveticaneue-blackitalic-webfont.svg?eigb7b#HelveticaNeue') format('svg');
    font-weight: 900;
    font-style: italic;
}
